## =========================
## Build
## =========================
bin/
obj/

## =========================
## Visual Studio / VS Code
## =========================
.vs/
.vscode/

## =========================
## Testes
## =========================
TestResults/
*.trx

## =========================
## SQLite
## =========================
*.db
*.db-shm
*.db-wal

## =========================
## Logs
## =========================
*.log